<a href="https://colab.research.google.com/github/votrannhatquang/AI-s-ng-th-7/blob/main/Lung_cancacer_examples.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [19]:
import pandas as pd

url ="/content/lung_cancer_examples.csv"
data = pd.read_csv(url)
data.head(5)

     Name      Surname  Age  Smokes  AreaQ  Alkhol  Result
0    John         Wick   35       3      5       4       1
1    John  Constantine   27      20      2       5       1
2  Camela     Anderson   30       0      5       2       0
3    Alex       Telles   28       0      8       1       0
4   Diego     Maradona   68       4      5       6       1

In [20]:
data= data.drop(data.loc[:,['Name','Surname']], axis=1)
data.head(5)

   Age  Smokes  AreaQ  Alkhol  Result
0   35       3      5       4       1
1   27      20      2       5       1
2   30       0      5       2       0
3   28       0      8       1       0
4   68       4      5       6       1

In [29]:
X=data.loc[:,['Age','Smokes','AreaQ','Alkhol']]
y=data['Result']

In [31]:
from sklearn import datasets
from sklearn.linear_model import Perceptron
from sklearn.model_selection import train_test_split
from sklearn.metrics import accuracy_score
from sklearn.preprocessing import StandardScaler

In [37]:
X_train,X_test,y_train,y_test=train_test_split(X,y,test_size=0.3)
sc=StandardScaler()
sc.fit(X_train)
x_train_Std=sc.transform(X_train)
X_test_Std=sc.transform(X_test)

In [38]:
model=Perceptron(max_iter=100,eta0=0.5,random_state=0)

model.fit(X_train,y_train)

y_pred = model.predict(X_test)
print(y_pred[:5])
print(y_test[:5])
print('do chinh xac mo hinh chua scale:',accuracy_score(y_test,y_pred))

[1 1 1 1 1]
16    1
57    1
36    1
1     1
51    1
Name: Result, dtype: int64
do chinh xac mo hinh chua scale: 0.9444444444444444